@import "_variables.scss";

.btn-yellow, 
.btn-yellow:link,
.btn-yellow:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    background-color: color(yellow);
    margin: 1rem auto;
    font-size: 2rem;
    transition: all 0.3s;
    position: relative; 
}

.btn-yellow {
    border-color: color(black);
    color: color(black);
}
.btn-yellow:hover {
    border-color: #353535;
    background-color: color(black);
    color: color(yellow);
}
.btn-yellow:before {
    border-color: color(black);
}

.btn-yellow:after {
    border-color: color(yellow);
}