@import "_variables.scss";

.btn-yellow, 
.btn-yellow:link,
.btn-yellow:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    background-color: color(yellow);
    margin: 1rem auto;
    font-size: 2rem;
    transition: all 0.3s;
    position: relative; 
    color: color(black);
}

.btn-yellow:hover {
    transform: scale(1.3);
    letter-spacing: 7px;
}

.btn-yellow:active {
    transform: scale(1.3);
    letter-spacing: 7px;
}