@import "_variables.scss";

.btn-blue, 
.btn-blue:link,
.btn-blue:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    background-color: color(blue);
    margin: 1rem auto;
    font-size: 2rem;
    transition: 0.25s ease;
    position: relative; 
    color: color(black);
}

.btn-blue:hover {
    text-decoration: underline;
    border-radius: 3rem;
    transform: scale(1.2);
}

