@import "_variables.scss";

.btn-pink, 
.btn-pink:link,
.btn-pink:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    background-color: color(pink);
    margin: 1rem auto;
    font-size: 2rem;
    transition: all 0.3s;
    position: relative; 
}

.btn-pink {
    background-color: color(pink);
    color: color(black);
}

.btn-pink::after {
    background-color: color(pink);
    color: color(black);
}

.btn-pink:hover {
    transform: scale(0.8);
}

.btn-pink::after {
    transform: scale(0.8);
}