@import "_variables.scss";
@import "_btn-red.scss";
@import "_btn-green.scss";
@import "_btn-pink.scss";
@import "_btn-blue.scss";
@import "_btn-yellow.scss";

.container {
    width: 80vw;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1rem;
    font-size: 1.5rem;
    align-items: center;
    text-align: center;
}