@import "_variables.scss";
@import "_btn-red.scss";
@import "_btn-green.scss";
@import "_btn-pink.scss";
@import "_btn-blue.scss";
@import "_btn-yellow.scss";

html,
body {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
}

.container {
    width: 80vw;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1rem;
    font-size: 1.5rem;
    align-items: center;
    text-align: center;
}

.header {
    font-size: 3rem;
    margin-top: 0rem;
    text-transform: uppercase;
    padding: 0;
}

.sub-header {
    font-size: 2rem;
    margin-top: -3rem;
    margin-bottom: 5rem;
}