html,
body {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.btn-red,
.btn-red:link,
.btn-red:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  background-color: #ff5722;
  margin: 1rem auto;
  font-size: 2rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
}

.btn-red {
  background-color: #ff5722;
  color: #fff;
}

.btn-red::after {
  background-color: #ff5722;
  color: #fff;
}

.btn-red::after {
  content: "";
  display: inline/block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.btn-red:hover:after {
  -webkit-transform: scaleX(1.5) scaleY(1.6);
          transform: scaleX(1.5) scaleY(1.6);
  opacity: 0;
}

.btn-red:active {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-transform: scaleX(1.5) scaleY(1.6);
          transform: scaleX(1.5) scaleY(1.6);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

html,
body {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.btn-green,
.btn-green:link,
.btn-green:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  background-color: #228b22;
  margin: 1rem auto;
  font-size: 2rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
}

.btn-green {
  background-color: #228b22;
  color: #fff;
}

.btn-green::after {
  background-color: #228b22;
  color: #fff;
}

.btn-green:hover {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  -webkit-box-shadow: 0 10px 0.5rem rgba(0, 0, 0, 0.6);
          box-shadow: 0 10px 0.5rem rgba(0, 0, 0, 0.6);
}

.btn-green::after {
  content: "";
  display: inline/block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.btn-green:active {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-transform: scaleX(1.5) scaleY(1.6);
          transform: scaleX(1.5) scaleY(1.6);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

html,
body {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.btn-pink,
.btn-pink:link,
.btn-pink:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  background-color: #db7093;
  margin: 1rem auto;
  font-size: 2rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
}

.btn-pink {
  background-color: #db7093;
  color: #fff;
}

.btn-pink::after {
  background-color: #db7093;
  color: #fff;
}

.btn-pink:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.btn-pink::after {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

html,
body {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.btn-blue,
.btn-blue:link,
.btn-blue:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  background-color: #00b0ff;
  margin: 1rem auto;
  font-size: 2rem;
  -webkit-transition: 0.25s ease;
  transition: 0.25s ease;
  position: relative;
}

.btn-blue {
  background-color: #00b0ff;
  color: #fff;
}

.btn-blue::after {
  background-color: #00b0ff;
  color: #fff;
}

.btn-blue:hover {
  border-radius: 25px;
}

html,
body {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.btn-yellow,
.btn-yellow:link,
.btn-yellow:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  background-color: #daa520;
  margin: 1rem auto;
  font-size: 2rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
}

.btn-yellow {
  border-color: #000;
  color: #000;
}

.btn-yellow:hover {
  border-color: #353535;
  background-color: #000;
  color: #daa520;
}

.btn-yellow:before {
  border-color: #000;
}

.btn-yellow:after {
  border-color: #daa520;
}

.container {
  width: 80vw;
  margin: 2rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 1rem;
  font-size: 1.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */